<% include ../partials/header.ejs %>

<% if(currentUser && currentUser.isAdmin){ %>
    <h1>Welcome, Admin.</h1>
<% } %>

<div class="container">
    <!-- DISPLAY BOOK IMAGES & TITLES -->
    <div class="row text-center">
        <% books.forEach(function(book){ %>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="thumbnail showBookDiv">
                    <img src="<%= book.image %>">
                    <div class="caption">
                        <h4><%= book.title %><h4>
                        <h5>By <%= book.author %><h5>
                    </div>
                    
                    <!-- SHOW REVIEWS BUTTON -->
                    <p>
                        <a href="/books/<%= book._id %>" class="btn btn-primary">See Reviews</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer.ejs %>