<!DOCTYPE html>
<html>
<head>
	<title>Lucha Libro</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
<!-- NAV BAR -->    
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- NAV BAR HEADER -->
        <div class="navbar-header">
            
            <!-- HAMBURGER MENU -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#stuffToCollapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            <!-- COMPANY LOGO & NAME -->
            <a class="navbar-brand" href="/books">
                <span class="glyphicon glyphicon-book"></span> 
                Lucha Libro
            </a>
        </div>
        
        <!-- COLLAPSIBLE NAV BAR BUTTONS & LINKS -->
        <div class="collapse navbar-collapse" id="stuffToCollapse">
            
            <!-- SEARCH BOX -->
            <form action="/books" method="GET" class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" name="search" placeholder="Book Title Search">
                </div>
                <button class="btn btn-primary">Go</button>
            </form>
            
            <!-- ADD NEW BOOK BUTTON -->
            <a class="btn btn-primary navbar-btn" href="/books/new">Add New Book</a>
            
            <!-- LOGIN & ACCOUNT CREATION -->
            <ul class="nav navbar-nav navbar-right">
                <% if(!currentUser){ %>
                    <li><a href="/login">Sign In</a></li>
                    <li><a href="/register">Create Account</a></li>
                <% }else{ %>
                    <li><a href="#">Signed in as: <%= currentUser.username %></a></li>
                    <li><a href="/logout">Sign Out</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>

<!-- BLANK SPACE TO KEEP TOP OF PAGE BELOW NAVBAR -->
<div class="clearNavBar"></div>

<div class="container">
    <!-- ERROR CONNECT-FLASH MESSAGE --> 
    <% if(errorMessage && errorMessage.length > 0){ %>
        <div class="alert alert-warning" role="alert">
            <%= errorMessage %>
        </div>
    <% } %>
    
    <!-- SUCCESS CONNECT-FLASH MESSAGE --> 
    <% if(successMessage && successMessage.length > 0){ %>
        <div class="alert alert-info" role="alert">
            <%= successMessage %>
        </div>
    <% } %>
</div>