<!DOCTYPE html>
<html>
<head>
    <title>Lucha Libro</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/landing.css">
</head>

<body>
    
<div class="container">
    <!-- ERROR CONNECT-FLASH MESSAGE --> 
    <% if(errorMessage && errorMessage.length > 0){ %>
        <div class="alert alert-warning" role="alert">
            <%= errorMessage %>
        </div>
    <% } %>
    
    <!-- SUCCESS CONNECT-FLASH MESSAGE --> 
    <% if(successMessage && successMessage.length > 0){ %>
        <div class="alert alert-info" role="alert">
            <%= successMessage %>
        </div>
    <% } %>
</div>

<div id="landingHeaderDiv">
 	<h1><span class="glyphicon glyphicon-book"></span>LUCHA LIBRO</h1>
 	<p>User-submitted book reviews.</p>
	<a href="/books" class="btn btn-lg btn-primary">Browse Books</a>
</div>

<% include partials/footer %>