body{
    background: lightgray;
}

.thumbnail{
    padding: 0;
    background-color: #e3e7ed;
}

#deleteButtons{
    display: inline;
}

.showBookDiv{
    display: flex; 
    flex-wrap: wrap;
}

.formHeader{
    text-align: center;
}

.formDiv{
    width: 30%; 
    margin: 30px auto;
}

.caption{
    text-align: center;
}

hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.imgShow{
    padding-top: 20px;
}

.clearNavBar{
    height: 70px;
}